/* =========================
globale styles
========================= */

:root {
  /* Fonts */

   --font-logo: "Great Vibes", cursive;
    --font-text: "Poppins", sans-serif;
    --font-subtitle: "Palanquin", sans-serif;
    --font-heading: "Palanquin Dark", sans-serif;
  /* Colors */

  --color-orange: #E76C1F;
  --color-orange-hover: #ff9800;
  --color-dark: #363534;
  --color-background: #fdeadc;
  --color-white: #ffffff;
  --color-text: #333333;
  --color-basket-background: #f8e6d8;

  /* Layout */

  --max-width: 1440px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 20px;

  /* Effects */

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --transition: 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--color-white);
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: flex-start;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.restaurant_info {
  background-color: var(--color-white);
}

/* =========================
   Main Layout
========================= */

.content_wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

#burger_content,
#pizza_content,
#salat_content,
#getraenke_content,
#dessert_content {
    max-width: 713px;
}


.menu_content {
  flex: 1;
  min-width: 0;
}

/* =========================
   Category Bar
========================= */
.content_wrapper{
 
 
}

.category_bar {
  position: relative;
  display: flex;
  align-items: center;

  height: 91px;
  gap: 24px;
  width: 100vw;
  margin: 32px 0 20px;
  padding: 12px;
  background: var(--color-orange);
  
}

.category_icon {
  position: absolute;
  bottom: -2px;
  left: 20em;
  width: auto;
  height: 124px;
 }

.category_bar h2 {
  font-family: var(--font-subtitle);
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0;

  color: white;
  
  font-size: 32px;

  margin-left: 15em;
  
}


