/* =========================
globale styles
========================= */

:root {
  /* Fonts */

  --font-logo: "Great Vibes", cursive;
  --font-text: "Poppins", sans-serif;
  --font-subtitle: "Palanquin", sans-serif;

  /* Colors */

  --color-orange: #ff8000;
  --color-orange-hover: #ff9800;
  --color-dark: #363534;
  --color-background: #fdeadc;
  --color-white: #ffffff;
  --color-text: #333333;
  --color-basket-background: #f8e6d8;

  /* Layout */

  --max-width: 1440px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 20px;

  /* Effects */

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --transition: 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font-text);
  background-color: var(--color-white);
  overflow-x: hidden;
}

main {
  display: flex;
  align-items: flex-start;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
}

.restaurant_info {
  background-color: var(--color-white);
}

/* =========================
   Main Layout
========================= */

.content_wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.menu_content {
  flex: 1;
  min-width: 0;
}

/* =========================
   Category Bar
========================= */

.category_bar {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100vw;
  margin: 32px 0 20px;
  padding: 12px;
  background: var(--color-orange);
  border-radius: 10px;
}

.category_icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.category_bar h2 {
  color: white;
  display: inline-block;
  font-size: 32px;
  margin: 0;
}

.category_bar .content_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  max-width: 1640px;
}
