/* =========================
globale styles
========================= */


:root {

    /* Fonts */

    --font-logo: "Great Vibes", cursive;
    --font-text: "Poppins", sans-serif;
    --font-subtitle: "Palanquin", sans-serif;

    /* Colors */

    --color-orange: #ff8000;
    --color-orange-hover: #ff9800;
    --color-dark: #363534;
    --color-background: #f6f3ef;
    --color-white: #ffffff;
    --color-text: #333333;
    --color-basket-background: #F8E6D8;


    /* Layout */

    --max-width: 1440px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 20px;

    /* Effects */

    --shadow: 0 4px 12px rgba(0,0,0,.15);
    --transition: .3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.content_wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

    
}

body {
    margin: 0;
    background-color: #f5f5f5;
      font-family: var(--font-text);
}


main {
    display: flex;
    align-items: flex-start;
   
}



