











.restaurant_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.restaurant_name {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.restaurant_name span:first-child {
    color: var(--color-orange);
    margin-right: 4px;
}

.restaurant_name span:last-child {
    color: var(--color-dark);
}

.restaurant_rating{
  gap: 8px;
}

.restaurant-info-subtitle{
   font-family: var(--font-subtitle);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

    text-align: center;

    padding-top: 10px;
    margin: 0;
    
    color: var(--color-dark);
}

    /* Layout-icons */