.order_content {
  min-height: 300px;
    background-color: aqua;
    padding: 16px;
    border: 2px solid red;
}



.order_content{
    width: calc(100% - 300px);
    padding:16px;
    min-height: 300px;
    background-color: aqua;
    
    border: 2px solid red;
}

